<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Playstation Wishlist</title>
    <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/playstation-34-569261.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/toast/dist/css/toast.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/Views/Shared/site-navbar.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script data-ad-client="ca-pub-5965304686005207" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="shortcut icon" href="//.../content/images/favicon.ico" />*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
</head>
<body>
    <header>
        @*TOP NAVBAR*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Playstation Wishlist</a>
                <div id="topNavBar" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MyWishlist">My Wishlist</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Terms">Terms</a>
                        </li>
                        <li>
                            <form action="https://www.paypal.com/donate" method="post" target="_top">
                                <input type="hidden" name="hosted_button_id" value="AJWWYXCRA4S9S" />
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                            </form>

                        </li>
                    </ul>
                </div>
                @await Component.InvokeAsync("LoginLogout")
            </div>
        </nav>

        @*BOTTOM NAVBAR*@
        <ul id="bottomNavBar" class="nav nav-tabs nav-fill fixed-bottom nav-bottom">
            @if (User.Identity.IsAuthenticated)
            {
            <li class="nav-item" data-url="@Url.Action("MyWishlist", "Home")">
                <button id="navButtonBookmark" class="btn btn-primary btn-block rounded-0 shadow-none">
                    <span class="fa fa-bookmark"></span>
                </button>
            </li>
            }
            else
            {
            <li class="nav-item" data-url="@Url.Action("Login", "Account")">
                <button id="navButtonLogin" class="btn btn-primary btn-block rounded-0 shadow-none">
                    <span class="fa fa-user-alt"></span>
                </button>
            </li>
            }
            <li class="nav-item" data-url="@Url.Action("Index", "Home")">
                <button id="navButtonSearch" class="btn btn-primary btn-block rounded-0 shadow-none">
                    <span class="fa fa-search"></span>
                </button>
            </li>
            <li class="nav-item" data-url="@Url.Action("About", "Home")">
                <button id="navButtonInfo" class="btn btn-primary btn-block rounded-0 shadow-none">
                    <span class="fa fa-info"></span>
                </button>
            </li>
            <li class="nav-item" data-url="@Url.Action("Donate", "Home")">
                <button id="navButtonDonate" class="btn btn-primary btn-block rounded-0 shadow-none">
                    <span class="fab fa-paypal"></span>
                </button>
            </li>
            <li id="navButtonShare" class="nav-item">
                <button id="navButtonShare" class="btn btn-primary btn-block rounded-0 shadow-none">
                    <span class="fa fa-share-alt"></span>
                </button>
            </li>
        </ul>
    </header>
    <div class="container">
        <main id="mainContent" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Playstation Wishlist - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @*Loading*@
    <div id="loader-wrapper">
        <div id="loader"></div>

    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/261c315347.js" crossorigin="anonymous"></script>
    <script src="~/lib/toast/dist/js/toast.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
