@model PlaystationWishlistWebSite.Models.LoginLogoutViewModel

@if (User.Identity.IsAuthenticated)
{
<div class="float-right font-weight-bold">
    <i class="fas fa-user"> </i>  @Model.LoggedInUserName
    <div class="btn btn-outline-primary" onclick="@("window.location.href='" + @Url.Action("Logout", "Account") + "'");">
        logout
    </div>
</div>
}
else
{
    <div class="btn btn-primary float-right" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");">Login</div>
}   